
{% extends 'frontClient/base.html.twig' %}


{% block body %}
<section>
  <div class="p-4" >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
                
                  <div class="d-flex  align-items-center">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="gap-4 d-flex  align-items-center mb-4 flex-row flex-fill">
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Your first name</label>
                        <div class='text-danger'> {{ form_errors(registrationForm.firstName) }}</div>
                        {{ form_widget(registrationForm.firstName, {'attr': {'class': 'p-2 form-control'}}) }}
                      </div>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c">Your last name</label>
                        <div class='text-danger'> {{ form_errors(registrationForm.lastName) }}</div>
                        {{ form_widget(registrationForm.lastName, {'attr': {'class': 'p-2 form-control'}}) }}
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c">Your email</label>
                      <div class='text-danger'> {{ form_errors(registrationForm.email) }}</div>
                      {{ form_widget(registrationForm.email, {'attr': {'class': 'p-2 form-control'}}) }}
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example4c">Your password</label>
                      <div class='text-danger'> {{ form_errors(registrationForm.plainPassword) }}</div>
                      {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'p-2 form-control'}}) }}
                      {# <input type="password" id="form3Example4c" class="form-control" /> #}
                    </div>
                  </div>

                  {# add recaptcha here  #}
                  {# <div class="d-flex flex-row align-items-center mb-4">
                      <div class='text-danger'> {{ form_errors(registrationForm.recaptcha) }}</div>
                      {{ form_widget(registrationForm.recaptcha, {'attr': {'class': 'p-2 form-control'}}) }}
                  </div> #}
                  <div class='text-danger'>
                    {{ form_errors(registrationForm.agreeTerms) }}
                  </div>
                  <div class="py-4 d-flex justify-content-center ">
                  
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input me-2'}}) }}
                    <label class="form-check-label" for="form2Example3">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>
                  

                  <div class="d-flex flex-fill gap-5 justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg py-2 px-4">Register</button>
                    <div class="d-flex justify-content-center align-items-center">
                    Already have an account? <a href="{{ path('app_login') }}">Sign in</a>
                    </div>
                  </div>
                {{ form_end(registrationForm) }}
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  {% endblock %}
