{% extends 'frontClient/base.html.twig' %}
{% block pageBannerurlretour %}
                <li><a href="{{ path('app_blogClient', {'page': 1}) }}">Brave Chats</a></li>
                <li>{{ title }}</li>
 {% endblock %}
{% block body %} 
<!-- Blog Section - Start
        ================================================== -->
        <section class="blog_section ">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="row">
                    <div class="message">
                      {% if categories is not empty %}                      
                        <div style="text-align: center;">
                          <img width="700" height="500"
                          src="{{asset('assets/images/gallery/chooseg.png')}}"
                            alt="Talking Minds - Psychotherapist Site Template"
                          />
                        </div>
                        <div class="section_heading text-center">
                          <h2 class="section_heading_text">Share your experiences!</h2>
                      
                          <div class="row justify-content-center " >
                            {% for categorie in categories %}
                            {% if categorie.souscategories is not empty %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                              <div class="service_item" style="display: flex;justify-content:center;align-items:center;flex-direction:column; ">
                                <div class="item_icon" >
                                  <img
                                    src="{{asset('assets/images/icons/icon_brain.svg')}}"
                                    alt="Brain Icon - HelpMeBalance"
                                  />
                                </div>
                                <div class="item_contact"  style="display: flex;justify-content:center;align-items:center;flex-direction:column; ">
                                  <h3 class="item_title">{{categorie.nom}}</h3>
                                  <p style="text-align:center;">
                                    {{categorie.description}}
                                  </p>
                                  <a class="btn-link" href="{{ path('app_choosesousCatClient', {'cat': categorie.id}) }}">
                                    <span class="btn_text">Next Step</span>
                                    <span class="btn_icon"
                                      ><i class="fa-solid fa-arrow-up-right"></i
                                    ></span>
                                  </a>
                                </div>
                              </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                          </div>
                          
                        </div>
                        {% else %}
                        system taye7

                        {% endif %}
                  </div>
                  </div>                
                </div>
  
                <div class="col-lg-4">
                  <aside class="sidebar ps-lg-4">
                    <div class="form-group">
                      <input
                        id="sidebar_search"
                        class="form-control"
                        type="search"
                        name="search"
                        placeholder="Search (coming soon)"
                        disabled
                      />
                      <button type="submit" class="input_icon" disabled>
                        <i class="fa-regular fa-magnifying-glass"></i>
                      </button>
                    </div>
                    <div class="sidebar_widget">
                      <h3 class="sidebar_widget_title">
                        <span class="title_icon">
                          <img
                            src="{{asset('assets/images/site_logo/favourite_icon.svg')}}"
                            alt="help me balance"
                          />
                        </span>
                        <span class="title_text">Categories</span>
                      </h3>
                      <ul class="post_category_list unordered_list_block">
                        {% set sortedCategories = categories|sort((a, b) => (a.publications|length) < (b.publications|length)) %}
                        {% for categorie in sortedCategories %}
                        <li  >
                          <a href="{{ path('app_blogCatClient', {'cat': categorie.id, 'page': 1}) }}" >
                            <span class="category_name" >{{categorie.nom }} </span>                     
                            {% if categorie.publications|filter(publication => publication.valide)|length == 0 %}
                            <span class="category_counter">New</span> 
                            {% else %}
                            <span class="category_counter">{{ categorie.publications|filter(publication => publication.valide)|length }}</span>
                            {% endif %}
                          </a>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="sidebar_widget">
                      <h3 class="sidebar_widget_title">
                        <span class="title_icon">
                          <img
                            src="{{asset('assets/images/site_logo/favourite_icon.svg')}}"
                            alt="help me balance"
                          />
                        </span>
                        <span class="title_text">Explore More</span>
                      </h3>
                      <ul class="reecommended_post_group unordered_list_block">
                        {% for publication in reccpublications|slice(0, 3) %}
                        <li>
                          <div class="blog_item_small">
                            <div class="blog_image">
                              <a class="blog_image_wrap" href="{{ path('app_blogDetails', {'id': publication.id,'showmore':0}) }}">
                                <img
                                src="{{ asset(publication.image) }}"
                                alt="HelpMeBalance"
                                />
                              </a>
                            </div>
                            <div class="blog_content">
                              <h3 class="item_title">
                                <a href="{{ path('app_blogDetails', {'id': publication.id,'showmore':0}) }}">
                                    {{ publication.titre }}
                                </a>
                              </h3>
                              <ul class="post_meta unordered_list">
                                <li>{{ publication.dateM ? publication.dateM|date('j F Y H:i:s')  : '' }}</li>
                                <li>{{ publication.vues }} <i class="fa-solid fa-eye"></i></li>
                                <li>
                                  {% set commentCount = commentaireRepository.findAllValidatedUnderPublication(publication)|length %}
                                  {% if publication.comOuvert %}
                                      {% if commentCount > 0 %}
                                          <a href="{{ path('app_blogDetails', {'id': publication.id,'showmore':0}) }}">{{ commentCount }} <i class="fa-solid fa-comment"></i></a>
                                      {% else %}
                                      <i class="fa-duotone fa-empty-set"></i> Com..
                                      {% endif %}
                                  {% else %}
                                      <i class="fas fa-lock"></i> Com..
                                  {% endif %}

                                </li>                              
                              </ul>
                            </div>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="sidebar_widget">
                      <h3 class="sidebar_widget_title">
                        <span class="title_icon">
                          <img
                            src="{{asset('assets/images/site_logo/favourite_icon.svg')}}"
                            alt="Talking Minds - Psychotherapist Site Template"
                          />
                        </span>
                        <span class="title_text">Explore Related Topics</span>
                      </h3>
                      <ul class="post_tags unordered_list">
                        {% for souscat in souscategories %}
                        <li><a href="{{ path('app_blogSousCatClient', {'souscat': souscat.id, 'page': 1}) }}">{{ souscat.nom }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </aside>
                </div>
              </div>
              
              <div class="pagination_wrap  section_space_lg col-lg-8">
              </div>
            
            </div>
          </section>
          <!-- Blog Section - End
          ================================================== -->
{% endblock %}