{% extends 'frontClient/base.html.twig' %}
{% block body %} 
<!-- Blog Section - Start
        ================================================== -->
        <section class="blog_section ">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="row">
                    {% for article in articles %}
                    <div class="col-md-6">
                      <div class="blog_item">
                        <div class="blog_image">
                          <a class="blog_image_wrap" href="{{ path('app_article_show', {'id': article.id}) }}">
                            {#<img
                              src="{{ asset(article.image) }}"
                              alt="HelpMeBalance"
                            />#}
                          </a>
                        </div>
                        <div class="blog_content">
                          <ul class="post_category unordered_list">
                            <li><a href="{{ path('app_blogCatClient', {'cat': article.categorie.id, 'page': 1}) }}">{{ article.categorie.nom }}</a></li>
                          </ul>
                          <ul class="post_meta unordered_list">
                            <li>
                               
                            </li>
                        </ul>
                          <h3 class="item_title text-center">
                            <a href="{{ path('app_article_show', {'id': article.id}) }}">
                                {{ article.nom }}
                            </a>
                          </h3>


                          <h4 class="article_price text-center">
                          <p>
                          {{ article.prix }} $
                          </p>
                          </h4>

                          
                          <p class="text-center">
                            {{ article.description|slice(0, 40) ~ (article.description|length > 40 ? '...' : '') }}

                          </p>


                          <div class="text-center d-flex justify-content-between">
                          <a class="btn-link " href="{{ path('app_article_show', {'id': article.id}) }}">
                            <span class="btn_text ">Read More</span>
                            <span class="btn_icon"
                              ><i class="fa-solid fa-arrow-up-right"></i
                            ></span>
                          </a>

                          <a class="btn-link" href="{{ path('app_panier_add', {'idA': article.id}) }}">
                          <span class="btn_text ">Acheter</span>
                         <span class="btn_icon"><i class="fa-solid fa-cart-shopping"></i></span>
                         </a>
                        </div>
                        </div>
                      </div>
                    </div>

                    {% endfor %}


                <div class="pagination_wrap  section_space_lg col-lg-8">
                <ul class="pagination_nav unordered_list justify-content-center">
            {% if currentPage > 1 %}
            <li>
                <a href="{{ path('app_shopClient', {page: currentPage - 1}) }}">
                    Previous
                </a>
            </li>
            {% endif %}

            
           
            {% for i in 1..totalPages %}
                <li >
                <a class="active" href="{{ path('app_shopClient', {page: i}) }}"  >
                    {{ i }}
                </a>
                 </li>
                 {% endfor %}
           
           

            {% if currentPage < totalPages %}
            <li>
                <a href="{{ path('app_shopClient', {page: currentPage + 1}) }}" >
                    Next
                </a>
          </li>
            {% endif %}
        </ul>
</div>

                  {# </div>
                  <div class="pagination_wrap  section_space_lg">
                    <ul class="pagination_nav unordered_list justify-content-center">
                        {% for page in range(1, totalPages) %}
                        <li {% if curentPage == page %} class="active" {% endif %}>
                            <a href="{{ path('app_blogClient', {'page': page}) }}">{{ page }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div> #}
                </div>
                </div>



                <div class="col-lg-4">
                  <aside class="sidebar ps-lg-4">
                    <div class="form-group">
                      <input
                        id="sidebar_search"
                        class="form-control"
                        type="search"
                        name="search"
                        placeholder="Search"
                      />
                      <button type="submit" class="input_icon">
                        <i class="fa-regular fa-magnifying-glass"></i>
                      </button>
                    </div>
                    <div class="sidebar_widget">
                      <h3 class="sidebar_widget_title">
                        <span class="title_icon">
                          <img
                            src="{{asset('assets/images/site_logo/favourite_icon.svg')}}"
                            alt="Talking Minds - Psychotherapist Site Template"
                          />
                        </span>
                        <span class="title_text">Categories</span>
                      </h3>
                      {% for categorie in categorie_produits %}
                      <ul class="post_category_list unordered_list_block">
                        <li>
                          <a href="{{ path('app_categorie_produit_show', {'id': categorie.id}) }}">
                            <span class="category_name">   
                             {{ categorie.nom }}
                            </span>
                            <span class="category_counter"> {{ categorie.articles|length }}</span>
                          </a>
                        </li>
                      </ul>
                      {% endfor %}
                    </div>
                    <div class="sidebar_widget">
                      <h3 class="sidebar_widget_title">
                        <span class="title_icon">
                          <img
                            src="{{asset('assets/images/site_logo/favourite_icon.svg')}}"
                            alt="Talking Minds - Psychotherapist Site Template"
                          />
                        </span>
                        <span class="title_text">Recommended Articles</span>
                      </h3>
                      <ul class="reecommended_post_group unordered_list_block">
                      {% for article in articles|slice(0, 3) %}
                        <li>
                          <div class="blog_item_small">
                            <div class="blog_image">
                              <a class="blog_image_wrap" href="{{ path('app_shopClient', {'id': article.id,'showmore':0}) }}">
                                {# <img
                                {% set url='uploads/pub_pictures/'~article.image %} 
                                src="{{ asset(url)  }}" 
                                alt="HelpMeBalance""
                                /> #}
                              </a>
                            </div>
                            <div class="blog_content">
                              <h3 class="item_title">
                               <a href="{{ path('app_article_show', {'id': article.id,'showmore':0}) }}">
                                  {{ article.nom }}
                                </a>
                              </h3>
                              <ul class="post_meta unordered_list">
                                 <li>{{ article.prix }} <i class="fa-solid fa-hand-holding-dollar"></i></li>
                                <li>{{ article.description }} <i class="fa-solid fa-arrow-right"></i></li>
                              </ul>
                            </div>
                          </div>
                        </li>
                        {% endfor %}
                        
                      </ul>
                    </div>
                    <div class="sidebar_widget">
                      <h3 class="sidebar_widget_title">
                        <span class="title_icon">
                          <img
                            src="{{asset('assets/images/site_logo/favourite_icon.svg')}}"
                            alt="Talking Minds - Psychotherapist Site Template"
                          />
                        </span>
                        <span class="title_text">Popular Categories</span>
                      </h3>
                      <ul class="post_tags unordered_list">
                        {% for categorie in categorie_produits %}
                        <li><a href="{{ path('app_categorie_produit_show', {'id': categorie.id}) }}">{{ categorie.nom }}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </aside>
                </div>
              </div>
            </div>
          </section>

          </div>
          <!-- Blog Section - End
          ================================================== -->
{% endblock %}