{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

<div class="mb-4">
    <p class="block text-gray-700 text-sm font-bold mb-2">new Question</p>
    {{ form_widget(form.question, {'attr': {'class': 'form-control px-4'}}) }}
    {{ form_errors(form.question, {'attr': {'class': 'text-red-200 bg-red-400'}}) }}
</div>

<button type="submit" class="btn btn-primary btn-lg px-4 py-2">
    {{ button_label|default('Save') }}
</button>
{{ form_end(form) }}