{% extends 'admin/base_admin.html.twig' %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="mb-4">
        <h1 class="text-xl font-semibold">Consulation Management</h1>
    </div>
    <form method="get" class="mb-4" action="{{ path('app_consultationAdmin') }}" id="searchForm">
    <input type="text"
        class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
        name="search" id="searchInput" placeholder="Search (any occurrence)..." value="{{ app.request.query.get('search') }}" />
    <!-- Remove the submit button -->
</form>
<script>
    // Get the search input element
    var searchInput = document.getElementById('searchInput');

    // Add event listener for input change
    searchInput.addEventListener('input', function() {
        // Submit the form when the input value changes
        document.getElementById('searchForm').submit();
    });
    // Set focus on the search input after the page loads
     window.addEventListener('load', function() {
        searchInput.focus();
    });
      // Restore cursor position after form submission
    window.addEventListener('DOMContentLoaded', function() {
        // Set cursor position to the end of the input value
        searchInput.setSelectionRange(searchInput.value.length, searchInput.value.length);
    });
</script>

    {% if cons is defined %}

    <div id="editModal{{ cons.id }}" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
        <div class="modal-content relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
            <div class="flex justify-between items-center mb-4">
                <h4 class="text-lg font-bold">Edit Appointment</h4>
                <span class="close cursor-pointer" onclick="closeModal('editModal{{ cons.id }}')">&times;</span>
            </div>
            {% if form is defined %}
            <div class="flex justify-center">
                {{ form_start(form) }}
                {{ form_row(form.Patient, {
                'label': 'Patient:',
                'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                border-gray-300 rounded-md'}
                }) }}
                </br>

                {{ form_row(form.Psychiatre, {
                'label': 'psychiatrist:',
                'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                border-gray-300 rounded-md'}
                }) }}
                </br>

                {{ form_row(form.note, {
                'label': 'note:',
                'attr': {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
                border-gray-300 rounded-md'}
                }) }}
                </br>

                {{ form_row(form.RecommandationSuivi, {
                'label': 'RecommandationSuivi:',
                'attr': {'class': 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none
                focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md'}
                }) }}
                </br>

                {{ form_row(form.avisPatient, {
                'label': 'Rating:',
                'attr': {'class': 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none
                focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md'}
                }) }}
                </br>

                {{ form_row(form.rendezvous, {
                    'label': 'Appointment:',
                    'attr': {'class': 'mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none
                    focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md'}
                    }) }}
                    </br>
                <button type="submit"
                    class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    Save
                </button>
                {{ form_end(form) }}
            </div>
            {% endif %}
        </div>
    </div>

    {% endif %}

    {% if consultations|length >0%}


    <div class="bg-white shadow-md rounded-lg">
        <table class="min-w-full leading-normal">
            <thead>
                <tr>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        <a href="{{ path('app_consultationAdmin', {sort: 'Patient', order: app.request.query.get('sort') == 'Patient' and app.request.query.get('order') == 'asc' ? 'desc' : 'asc'}) }}">
                            Patient
                            <i class="fa-solid fa-sort"></i>
                        </a>
                    </th>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        <a href="{{ path('app_consultationAdmin', {sort: 'Psychiatre', order: app.request.query.get('sort') == 'Psychiatre' and app.request.query.get('order') == 'asc' ? 'desc' : 'asc'}) }}">
                            Psychyatrist
                            <i class="fa-solid fa-sort"></i>
                        </a>
                    </th>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        <a href="{{ path('app_consultationAdmin', {sort: 'note', order: app.request.query.get('sort') == 'note' and app.request.query.get('order') == 'asc' ? 'desc' : 'asc'}) }}">
                            Note
                            <i class="fa-solid fa-sort"></i>
                        </a>
                    </th>
                    <th
                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                        RecommandationSuivi
                    </th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">Appointment id</th>
                    <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100"></th>
                </tr>
            </thead>
            <tbody>
                {% for c in consultations %}
                <tr>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ c.Patient.firstname }} {{
                        c.Patient.lastname }}</td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ c.Psychiatre.firstname}} {{
                        c.Psychiatre.lastname}}</td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ c.note }}
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ c.RecommandationSuivi ?
                        "recommand":"not necessary" }}
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ c.rendezvous.id }}
                    </td>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-right">
                        <button class="text-blue-600 hover:text-blue-900">
                            <a href="{{ path('app_consultation_edit_admin', {'id': c.id}) }}">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                </svg>
                            </a>
                        </button>
                        <button class="text-red-600 hover:text-red-900" onclick="openModal('deleteModal{{ c.id }}')">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                        </button>
                    </td>
                </tr>


                {# Modals for each appointment #}

                {# Edit Modal #}
                <div id="editModal{{ c.id }}"
                    class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full"
                    onclick="closeModal('viewModal{{ c.id }}')">
                    <!-- Modal content -->
                    <div class="modal-content relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white"
                        onclick="event.stopPropagation()">
                        <div class="flex justify-between items-center mb-4">
                            <h4 class="text-lg font-bold">Edit Appointment</h4>
                            <span class="close cursor-pointer"
                                onclick="closeModal('editModal{{ c.id }}')">&times;</span>
                        </div>
                        {% if form is defined %}
                        {{ form_start(form) }}
                        <button type="submit"
                            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                            Save
                        </button>
                        {{ form_end(form) }}
                        {% endif %}
                    </div>
                </div>

                {# Delete Modal #}
                <div id="deleteModal{{ c.id }}"
                    class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto justify-center items-center h-full w-full"
                    onclick="closeModal('deleteModal{{ c.id }}')">
                    <div class="modal-content relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white"
                        onclick="event.stopPropagation()">
                        <div class="flex justify-between items-center mb-4">
                            <h4 class="text-lg font-bold">Confirm Deletion</h4>
                            <span class="close cursor-pointer"
                                onclick="closeModal('deleteModal{{ c.id }}')">&times;</span>
                        </div>
                        <p class="mb-4">Are you sure you want to delete?</p>
                        <form action="{{ path('app_consultation_delete_admin', {'id': c.id}) }}" method="post">
                            <div class="flex justify-end">
                                <button type="submit"
                                    class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                                    Delete
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="flex justify-center">
            <img width="600" height="500" src="{{asset('assets/images/gallery/Search.png')}}"
                alt="Talking Minds - Psychotherapist Site Template" />
        </div>
        <div class="section_heading text-center">
            <h2 class="text-lg font-bold text-sky-700">Ups!... no Consulations found</h2>
        </div>

        {% endif %}
    </div>
</div>
{% endblock %}