<div class="flex justify-center items-center h-screen bg-blue-200">
    <div class="w-full max-w-md bg-gray-200 p-4 rounded-md">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div >
                <p class="block text-gray-700 text-sm font-bold mb-2">Date Rendez Vous</p>
                {{ form_widget(form.dateR, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div >
                <p class="block text-gray-700 text-sm font-bold mb-2">Pshychiatre</p>
                {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div>
                <p class="block text-gray-700 text-sm font-bold mb-2">Nom service</p>
                {{ form_widget(form.nomService, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nomService, {'attr': {'class': 'text-red-200 bg-red-400'}}) }}
            </div>

            <div class="form-button mt-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-lg px-4 py-2">
                    {{ button_label|default('Save') }}
                </button>
            </div>
        {{ form_end(form) }}
    </div>
</div>
