<div class="flex justify-center items-center h-screen bg-blue-200">
    <div class="w-full max-w-md bg-gray-200 p-4 rounded-md">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="mb-4">
                <p class="block text-gray-700 text-sm font-bold mb-2">Date Rendez Vous</p>
                {{ form_widget(form.dateR, {'attr': {'class': 'form-input w-full p-2 rounded-md'}}) }}
            </div>
            
            <div class="mb-4">
                <p class="block text-gray-700 text-sm font-bold mb-2">Nom service</p>
                {{ form_widget(form.nomService, {'attr': {'class': 'form-input w-full p-2 rounded-md'}}) }}
                {{ form_errors(form.nomService, {'attr': {'class': 'text-red-200 bg-red-400'}}) }}
            </div>
            
            <div class="mb-4 flex">
                {{ form_label(form.statut, null, {'class': 'block text-gray-700 text-sm font-bold mb-2'}) }}
                {{ form_widget(form.statut, {'attr': {'class': 'px- 4 form-input'}}) }}
            </div>
            
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
                {{ button_label|default('Save') }}
            </button>
        {{ form_end(form) }}
    </div>
</div>
