<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Medical Certificate</title>
   </head>
   <body>
      <header>
         <h1>MEDICAL CERTIFICATE ESTABLISHED BY THE PSYCHIATRIST</h1>
         <p>DOCTOR'S NAME: <strong>{{rv.user.lastname|capitalize}} {{rv.user.firstname|capitalize}}</strong></p>
         <p>Certifies having conducted an online psychological consultation session with: <strong>{{ rv.patient.lastname|capitalize }} {{ rv.patient.firstname|capitalize }}</strong></p>
         <p>PSYCHIATRY SPECIALIST</p>
         <p>On: {{ rv.dateR|date('Y-m-d H:i') }}</p>
      </header>
      <section>
         <p>I, the undersigned, <strong>{{rv.user.lastname|capitalize}} {{rv.user.firstname|capitalize}}</strong>, clinical psychologist, hereby certify that I conducted an online psychological consultation session with <strong>{{rv.user.lastname|capitalize}} {{rv.user.firstname|capitalize}}</strong> on <strong>{{ rv.dateR|date('Y-m-d H:i') }}</strong>. During this consultation, I conducted a detailed assessment of the mental health and psychological well-being of <strong>{{rv.user.lastname|capitalize}} {{rv.user.firstname|capitalize}}</strong> through virtual communication means. Based on my observations and the exchanges during the session, I confirm that <strong>{{rv.patient.lastname|capitalize}} {{rv.patient.firstname|capitalize}}</strong> does not present any major psychological disorder or disability that could compromise their daily or professional activities. I highly recommend continuing online psychological support to support the emotional and mental well-being of <strong>{{rv.patient.lastname|capitalize}} {{rv.patient.firstname|capitalize}}</strong>. This certificate is issued at the express request of <strong>{{rv.patient.lastname|capitalize}} {{rv.patient.firstname|capitalize}}</strong> for their participation in professional or personal activities.</p>
      </section>
      <footer>
         <!-- Your footer here -->
         <p id="date"></p>
         <script>
            // JavaScript to get and display the current date
            var today = new Date();
            var date = today.getDate() + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
            document.getElementById('date').innerHTML = 'Issued on: ' + date;
         </script>
         <p>Seal:</p>
         <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Autograph_of_Benjamin_Franklin.svg/1200px-Autograph_of_Benjamin_Franklin.svg.png" alt="Benjamin Franklin's Autograph">
         <p>5559</p>
      </footer>
   </body>
</html>
