{% extends 'frontClient/base.html.twig' %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card shadow">
                <div class="card-body p-4">
                    <h2 class="text-center">Consulation</h2>
                    <a class="w-100 d-flex justify-content-center" href="{{ path('app_rendez_vous_confirm', {"psyid": consultation.Psychiatre.id}) }}">Back to all appointments</a>
                <center>
                    <a href="{{ path('app_consultation_delete', {"id": consultation.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    <a href="{{ path('app_consultation_edit', {"id": consultation.id}) }}" class=""><i class="fa-solid fa-pen-to-square"></i></a>
                </center>
                    <hr>
                    <div class="card shadow mt-2 w-100 d-flex justify-content-center">
                        <p class="text-center">Note:</br>{{consultation.note}}</p>
                        <p class="text-center">Recommandation for another
                            session:</br>{{consultation.RecommandationSuivi ? 'Recommand' : 'If he wants'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}