{% extends 'admin/base_admin.html.twig' %}
{# templates/admin/user/index.html.twig #}
{% block content %}
<div class="container mx-auto px-4 py-8">
   <div  class="flex justify-center items-center mb-4">
      <h1 class="text-xl font-semibold">Blog Management 
      <button class="text-blue-600 hover:text-blue-900" onclick="openModal('addModal')">
      <a class="text-sky-700"href="{{ path('app_publication_add__blogAdmin') }}"> <i class="fa-regular fa-square-plus fa-lg"></i></a>
      </button>
      </h1>
   </div>

   {% if pub is defined %}
   <div id="editModal{{ pub.id }}" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
      <div class="modal-content relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
         <div class="flex justify-between items-center mb-4">
            <h4 class="text-lg font-bold">Edit Publication</h4>
            <span class="close cursor-pointer" onclick="window.location.href='{{ path('app_blogAdmin') }}';">&times;</span>
         </div>
         {% if formUpdate is defined %}
         {{ form_start(formUpdate, {'attr': {'novalidate': 'novalidate'}}) }}
         <div class="flex justify-center mb-2">
            <img
            {% set url='uploads/pub_pictures/'~pub.image %} 
            src="{{ asset(url)  }}" 
            alt="HelpMeBalance"
            style="width: 200px; height: 200px; "
            />
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  {{ form_widget(formUpdate.imageFile, {'attr': {'class': 'form-control'}}) }}
               </div>
               <div class="form-group">
                  <label for="input_name">Title</label>
                  {{ form_widget(formUpdate.titre,{'attr' : {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
            border-gray-300 rounded-md'}})}}
                  {{ form_errors(formUpdate.titre, {'attr': {'class': 'text-red-200 bg-red-400'}}) }}
               </div>
            </div>
            <div class="col-12">
               <div class="form-group mb-4">
                  <label for="input_comment">Publication</label>
                  {{ form_widget(formUpdate.contenu,{'attr' : {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
            border-gray-300 rounded-md'}})}}
                  {{ form_errors(formUpdate.contenu, {'attr': {'class': 'text-red-200 bg-red-400'}}) }}
               </div>
               <div class="form-check">
                  {% if pub.user.id != app.user.id%}
                  {{ form_widget(formUpdate.comOuvert,{'attr' : {'class' : 'checkbox', 'disabled': 'disabled'}})}}
                  {% else %}
                  {{ form_widget(formUpdate.comOuvert,{'attr' : {'class' : 'checkbox'}})}}
                  {% endif %}
                  <label for="input_checkbox">
                  Allow Comments
                  </label>
               </div>
               <div class="form-check">
                  {{ form_widget(formUpdate.anonyme,{'attr' : {'class' : 'checkbox', 'disabled': 'disabled'}})}}
                  <label for="input_checkbox">
                  Post as Anonyme
                  </label>
                  {# <div >
                     {{ form_widget(formUpdate.User,{'attr' : {'class' : 'hidden'},'value': app.user.id})}}
                  </div> #}
                  {# <div >
                  {{pub.categorie.id}}
                     {{ form_widget(formUpdate.Categorie,{'attr' : {'class' : 'hidden'},'value': pub.categorie.id})}} 
                  </div>
                  <div >
                  {{pub.souscategorie.id}}
                     {{ form_widget(formUpdate.SousCategorie,{'attr' : {'class' : 'hidden'},'value': pub.souscategorie.id})}} 
                  </div> #}
               </div>
               <button type="submit"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Update Publication
            </button>
            </div>
         </div>
        </div>
      {{ form_end(formUpdate) }}
      {% endif %}
   </div>
 {% elseif formAdd is defined %}
   <div id="addModal" class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
      <div class="modal-content relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
         <div class="flex justify-between items-center mb-4">
            <h4 class="text-lg font-bold">Add Comment</h4>
            <span class="close cursor-pointer" onclick="window.location.href='{{ path('app_blogAdmin') }}';">&times;</span>
         </div>
         {{ form_start(formAdd, {'attr': {'novalidate': 'novalidate'}}) }}       
         <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                  {{ form_widget(formAdd.imageFile, {'attr': {'class': 'form-control'}}) }}
               </div>
               <div class="form-group">
                  <label for="input_name">Title</label>
                  {{ form_widget(formAdd.titre,{'attr' : {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
            border-gray-300 rounded-md'}})}}
                  {{ form_errors(formAdd.titre, {'attr': {'class': 'text-red-200 bg-red-400'}}) }}
               </div>
            </div>
            <div class="col-12">
               <div class="form-group mb-4">
                  <label for="input_comment">Publication</label>
                  {{ form_widget(formAdd.contenu,{'attr' : {'class': 'mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm
            border-gray-300 rounded-md'}})}}
                  {{ form_errors(formAdd.contenu, {'attr': {'class': 'text-red-200 bg-red-400'}}) }}
               </div>
               <div class="form-check">
                  {{ form_widget(formAdd.comOuvert,{'attr' : {'class' : 'checkbox'}})}}
                  <label for="input_checkbox">
                  Allow Comments
                  </label>
               </div>
               <div class="form-check">
                  {{ form_widget(formAdd.anonyme,{'attr' : {'class' : 'checkbox hidden '}})}}
                  {# <label for="input_checkbox">
                  Post as Anonyme
                  </label> #}
                  <div >
                     {{ form_widget(formAdd.User,{'attr' : {'class' : 'hidden'},'value': app.user.id})}}
                  </div>
                  <div >
                     {{ form_widget(formAdd.Categorie)}} 
                  </div>
                  <div >
                     {{ form_widget(formAdd.SousCategorie)}} 
                  </div>
               </div>
               <button type="submit"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                Post Publication
            </button>
            </div>
         </div>
        </div>
      {{ form_end(formAdd) }}
   </div>
{% else %}

<form method="get" class="mb-4" action="{{ path('app_blogAdmin') }}" id="searchForm">
    <input type="text"
        class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
        name="search" id="searchInput" placeholder="Search (any occurrence)..." value="{{ app.request.query.get('search') }}" />
    <!-- Remove the submit button -->
</form>
<script>
    // Get the search input element
    var searchInput = document.getElementById('searchInput');

    // Add event listener for input change
    searchInput.addEventListener('input', function() {
        // Submit the form when the input value changes
        document.getElementById('searchForm').submit();
    });
    // Set focus on the search input after the page loads
     window.addEventListener('load', function() {
        searchInput.focus();
    });
      // Restore cursor position after form submission
    window.addEventListener('DOMContentLoaded', function() {
        // Set cursor position to the end of the input value
        searchInput.setSelectionRange(searchInput.value.length, searchInput.value.length);
    });
</script>
{% endif %}
{% if publications|length >0%}

<div class="bg-white shadow-md rounded-lg  mb-8">
   <table class="min-w-full leading-normal">
      <thead>
         <tr>
            <th onclick="sortTable(0)" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"><a href="{{ path('app_blogAdmin', {sort: 'titre', order: app.request.query.get('sort') == 'titre' and app.request.query.get('order') == 'asc' ? 'desc' : 'asc'}) }}">Title   <i class="fa-solid fa-sort"></i></a></th>
            <th onclick="sortTable(1)" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"><a href="{{ path('app_blogAdmin', {sort: 'contenu', order: app.request.query.get('sort') == 'contenu' and app.request.query.get('order') == 'asc' ? 'desc' : 'asc'}) }}">Content<i class="fa-solid fa-sort"></i></a></th>
            <th onclick="sortTable(2)"  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"><a href="{{ path('app_blogAdmin', {sort: 'User', order: app.request.query.get('sort') == 'User' and app.request.query.get('order') == 'asc' ? 'desc' : 'asc'}) }}">Posted By<i class="fa-solid fa-sort"></i></a></th>
            <th onclick="sortTable(3)" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"><a href="{{ path('app_blogAdmin', {sort: 'valide', order: app.request.query.get('sort') == 'valide' and app.request.query.get('order') == 'asc' ? 'desc' : 'asc'}) }}">State <i class="fa-solid fa-sort"></i></a></th>
            <th onclick="sortTable(4)" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"><a href="{{ path('app_blogAdmin', {sort: 'vues', order: app.request.query.get('sort') == 'vues' and app.request.query.get('order') == 'asc' ? 'desc' : 'asc'}) }}">Views <i class="fa-solid fa-sort"></i></a></th>
            <th onclick="sortTable(5)"  class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"><a href="{{ path('app_blogAdmin', {sort: 'comments', order: app.request.query.get('sort') == 'comments' and app.request.query.get('order') == 'asc' ? 'desc' : 'asc'}) }}">Comments <i class="fa-solid fa-sort"></i></a></th>
            <th onclick="sortTable(6)" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"><a href="{{ path('app_blogAdmin', {sort: 'dateC', order: app.request.query.get('sort') == 'dateC' and app.request.query.get('order') == 'asc' ? 'desc' : 'asc'}) }}">Posted At <i class="fa-solid fa-sort"></i></a></th>
            <th onclick="sortTable(7)" class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"><a href="{{ path('app_blogAdmin', {sort: 'dateM', order: app.request.query.get('sort') == 'dateM' and app.request.query.get('order') == 'asc' ? 'desc' : 'asc'}) }}">Updated At <i class="fa-solid fa-sort"></i></a></th>
            <th                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100"></th>
         </tr>
      </thead>
      <tbody>
         {% for publication in publications %}
         <tr>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{publication.titre}}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ publication.contenu|slice(0, 10) ~ (publication.contenu|length > 30 ? '...' : '') }}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{publication.user.lastname|capitalize}} {{publication.user.firstname|capitalize}}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{publication.valide ? 'Approved' : 'Under Review' }}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{publication.vues}}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm ">
               {% set commentCount = commentaireRepository.findAllUnderPublication(publication)|length %}
               {% if publication.comOuvert %}
               {% if commentCount > 0 %}
               <a class="text-sky-700"href="{{ path('app_blogAdminCom', {'idp': publication.id}) }}"> <i class="fas fa-comment fa-flip-horizontal fa-lg"></i> {{ commentCount }}</a>
               {% else %}
               <a class="text-sky-700"href="{{ path('app_blogAdminCom', {'idp': publication.id}) }}"><i class="fa-duotone fa-empty-set fa-lg"></i> Comments</a>
               {% endif %}
               {% else %}
               {% if commentCount > 0 %}
               <a class="text-sky-700" href="{{ path('app_blogAdminCom', {'idp': publication.id}) }}"> <i class="fas fa-lock fa-lg"></i> {{ commentCount }}</a>
               {% else %}
               <i class="fas fa-lock fa-lg"></i> Comments
               {% endif %}
               {% endif %}
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ publication.dateC|date('j F Y H:i:s') }}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">{{ publication.dateM|date('j F Y H:i:s') }}</td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-right">
               <button class="text-blue-600 hover:text-blue-900" onclick="openModal('viewModal{{ publication.id }}')">
                  <svg version="1.1" class="h-6 w-6" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 442.04 442.04"
                     xml:space="preserve">
                     <g>
                        <g>
                           <path d="M221.02,341.304c-49.708,0-103.206-19.44-154.71-56.22C27.808,257.59,4.044,230.351,3.051,229.203
                              c-4.068-4.697-4.068-11.669,0-16.367c0.993-1.146,24.756-28.387,63.259-55.881c51.505-36.777,105.003-56.219,154.71-56.219
                              c49.708,0,103.207,19.441,154.71,56.219c38.502,27.494,62.266,54.734,63.259,55.881c4.068,4.697,4.068,11.669,0,16.367
                              c-0.993,1.146-24.756,28.387-63.259,55.881C324.227,321.863,270.729,341.304,221.02,341.304z M29.638,221.021
                              c9.61,9.799,27.747,27.03,51.694,44.071c32.83,23.361,83.714,51.212,139.688,51.212s106.859-27.851,139.688-51.212
                              c23.944-17.038,42.082-34.271,51.694-44.071c-9.609-9.799-27.747-27.03-51.694-44.071
                              c-32.829-23.362-83.714-51.212-139.688-51.212s-106.858,27.85-139.688,51.212C57.388,193.988,39.25,211.219,29.638,221.021z"/>
                        </g>
                        <g>
                           <path d="M221.02,298.521c-42.734,0-77.5-34.767-77.5-77.5c0-42.733,34.766-77.5,77.5-77.5c18.794,0,36.924,6.814,51.048,19.188
                              c5.193,4.549,5.715,12.446,1.166,17.639c-4.549,5.193-12.447,5.714-17.639,1.166c-9.564-8.379-21.844-12.993-34.576-12.993
                              c-28.949,0-52.5,23.552-52.5,52.5s23.551,52.5,52.5,52.5c28.95,0,52.5-23.552,52.5-52.5c0-6.903,5.597-12.5,12.5-12.5
                              s12.5,5.597,12.5,12.5C298.521,263.754,263.754,298.521,221.02,298.521z"/>
                        </g>
                        <g>
                           <path d="M221.02,246.021c-13.785,0-25-11.215-25-25s11.215-25,25-25c13.786,0,25,11.215,25,25S234.806,246.021,221.02,246.021z"/>
                        </g>
                     </g>
                  </svg>
               </button>
               <button class="text-blue-600 hover:text-blue-900" onclick="openModal('editModal{{ publication.id }}')">
                  <a href="{{ path('app_publication_update__blogAdmin', {'idp': publication.id}) }}">
                     <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                     </svg>
                  </a>
               </button>
               <button class="text-red-600 hover:text-red-900" onclick="openModal('deleteModal{{ publication.id }}')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                     <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
               </button>
            </td>
         </tr>
         {# Modals for each publication #}
         {# View Modal #}
         <div id="viewModal{{ publication.id }}" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" onclick="closeModal('viewModal{{ publication.id }}')">
            <!-- Modal content -->
            <div class="modal-content relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
               <div class="mb-2">
                  <!-- Use flex for alignment and justify-center to center the title, items-center to align items vertically -->
                  <div class="flex justify-center items-center">
                     <h4 class="text-lg font-bold">Publication Details</h4>
                  </div>
                  <!-- Position the close button absolutely to the top-right corner of the modal -->
                  <span class="close cursor-pointer absolute top-0 right-0 p-4" onclick="closeModal('viewModal{{ publication.id }}')">&times;</span>
               </div>
               <div class="flex justify-center mb-2">
                  <img
                  {% set url='uploads/pub_pictures/'~publication.image %} 
                  src="{{ asset(url)  }}" 
                  alt="HelpMeBalance"
                  style="width: 200px; height: 200px; "
                  />
               </div>
               <p class="mb-2"><b>Categorie : </b> {{ publication.categorie.nom }}</p>
               <p class="mb-2"><b>Sub-Categorie : </b>{{ publication.souscategorie.nom}}</p>
               <p class="mb-2"><b>Title : </b> {{ publication.titre }}</p>
               <p class="mb-2"><b>Content :</b> <br> {{ publication.contenu|nl2br}}</p>
               {% if (publication.anonyme) %}
               <p class="mb-2"> Posted as <b>Anonyme</b></p>
               {% endif %}
               <div class="flex justify-between">
                  <p class="border-r ">
                     {{ publication.dateC|date('j F Y ') }} <i class="fa-regular fa-calendar-days"></i> 
                  </p>
                  <p class="border-r ">
                     {% set commentCount = commentaireRepository.findAllUnderPublication(publication)|length %}
                     {% if publication.comOuvert %}
                     {% if commentCount > 0 %}
                     <a class="text-sky-700" href="{{ path('app_blogDetails', {'id': publication.id,'showmore':0}) }}"> {{ commentCount }} <i class="far fa-comment"></i> </a>
                     {% else %}
                     Comments <i class="fa-duotone fa-empty-set fa-lg"></i>
                     {% endif %}
                     {% else %}
                     Comments <i class="fas fa-lock fa-lg"></i> 
                     {% endif %}
                  </p>
                  <p >
                     {{ publication.vues }} <i class="fa-solid fa-eye"></i>
                  </p>
               </div>
               <div class="flex justify-center items-center">
                  {% if(publication.valide) %}
                  <a class="text-lg font-bold" href="{{ path('app_publication_validate', {'idp': publication.id}) }}"><strong>Invalidate</strong></a>
                  {% else %}
                  <a class="text-lg font-bold" href="{{ path('app_publication_validate', {'idp': publication.id}) }}"><strong> Validate </strong></a>
                  {% endif %}
               </div>
            </div>
         </div>
         {# Edit Modal - Simplified for demonstration #}
         {# <div id="editModal{{ publication.id }}" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" onclick="closeModal('viewModal{{ publication.id }}')">
            <!-- Modal content -->
            <div class="modal-content relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
                           <div class="flex justify-center mb-2">
                  <img
                  src="{{ asset('assets/images/gallery/loading.png')  }}" 
                  alt="HelpMeBalance"
                  style="width: 200px; height: 200px; "
                  />
               </div>
               {% if formUpdate is defined %}
               {{ form_start(formUpdate) }}
               {{ form_end(formUpdate) }}
               {% endif %}
            </div>
         </div> #}
          {# Add Modal - Simplified for demonstration #}
         {# <div id="addModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" onclick="closeModal('viewModal')">
            <!-- Modal content -->
            <div class="modal-content relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
                           <div class="flex justify-center mb-2">
                  <img
                  src="{{ asset('assets/images/gallery/loading.png')  }}" 
                  alt="HelpMeBalance"
                  style="width: 200px; height: 200px; "
                  />
               </div>
               {% if formAdd is defined %}
               {{ form_start(formAdd) }}
               {{ form_end(formAdd) }}
               {% endif %}
            </div>
         </div> #}
         {# Delete Modal #}
         <div id="deleteModal{{ publication.id }}" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto justify-center items-center h-full w-full" onclick="closeModal('deleteModal{{ publication.id }}')">
            <div class="modal-content relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white" onclick="event.stopPropagation()">
               <div class="flex justify-between items-center mb-4">
                  <h4 class="text-lg font-bold">Confirm Deletion</h4>
                  <span class="close cursor-pointer" onclick="closeModal('deleteModal{{ publication.id }}')">&times;</span>
               </div>
               <p class="mb-4">Are you sure you want to delete {{ publication.titre }} ?</p>
               <form action="{{ path('admin_pub_delete', {'id': publication.id}) }}" method="post">
                     <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publication.id) }}">
                     <div class="flex justify-end">
                        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
                              Delete
                        </button>
                     </div>
                  </form>
            </div>
         </div>
         {% endfor %}
      </tbody>
   </table>
</div>
<div class="mt-4">
    <nav class="block">
        <ul class="flex pl-0 rounded list-none flex-wrap">
            {% if currentPage > 1 %}
            <li>
                <a href="{{ path('app_blogAdmin', {page: currentPage - 1}) }}" class="first:ml-0 text-xs font-semibold flex w-full items-center justify-center px-4 py-3 rounded-l-lg border border-r-0 border-gray-200 bg-white text-gray-500 hover:bg-gray-100">
                    Previous
                </a>
            </li>
            {% endif %}
            
            {% for i in 1..totalPages %}
            <li>
                <a href="{{ path('app_blogAdmin', {page: i}) }}" class="text-xs font-semibold flex w-full items-center justify-center px-4 py-3 leading-tight border border-gray-200 bg-white text-gray-500 hover:bg-gray-100 {{ currentPage == i ? 'bg-gray-300' : '' }}">
                    {{ i }}
                </a>
            </li>
            {% endfor %}
            
            {% if currentPage < totalPages %}
            <li>
                <a href="{{ path('app_blogAdmin', {page: currentPage + 1}) }}" class="text-xs font-semibold flex w-full items-center justify-center px-4 py-3 rounded-r-lg border border-gray-200 bg-white text-gray-500 hover:bg-gray-100">
                    Next
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

{# chart  #}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <div  class="flex justify-center items-center mb-8">
      <h1 class="text-xl font-semibold">Publication Metrics
      </h1>
   </div>
<div class="container mx-auto px-4 py-6">
    <canvas id="myChart"></canvas>
</div>

<script>
    // Extract publication titles, views, comments, and likes from the publications array
    const publicationTitles = [];
    const views = [];
    const comments = [];
    const likes = [];

    {% for publication in publications %}
        publicationTitles.push("{{ publication.titre }}");
        views.push({{ publication.vues }});
        comments.push({{ publication.commentaires|length }});
        likes.push({{ publication.likes|length }});
    {% endfor %}

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: publicationTitles, // Use publication titles as labels
            datasets: [{
                label: 'Views',
                data: views,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            },
            {
                label: 'Comments',
                data: comments,
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            },
            {
                label: 'Likes',
                data: likes,
                backgroundColor: 'rgba(255, 206, 86, 0.2)',
                borderColor: 'rgba(255, 206, 86, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

{# end chart  #}
 {% else %}
        <div class="flex justify-center">
            <img width="600" height="500"
            src="{{asset('assets/images/gallery/Search.png')}}"
            alt="Talking Minds - Psychotherapist Site Template"
            />
        </div>
        <div class="section_heading text-center">
            <h2 class="text-lg font-bold text-sky-700">Ups!... no Publications found</h2>
        </div>
       
    {% endif %}
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const categorieSelect = document.querySelector('#publication_Categorie');
    const sousCategorieSelect = document.querySelector('#publication_SousCategorie');

    categorieSelect.addEventListener('change', function() {
        const categoryId = this.value;
        fetch(`/subcategories/${categoryId}`)
            .then(response => response.json())
            .then(data => {
                sousCategorieSelect.innerHTML = ''; // Clear existing options
                data.forEach(subcategory => {
                    let option = new Option(subcategory.name, subcategory.id);
                    sousCategorieSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });
});
</script>
{% endblock %}