{% extends 'base.html.twig' %}

{% block title %}CategorieProduit index{% endblock %}

{% block body %}
    <h1>CategorieProduit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_produit in categorie_produits %}
            <tr>
                <td>{{ categorie_produit.id }}</td>
                <td>{{ categorie_produit.nom }}</td>
                <td>{{ categorie_produit.type }}</td>
                <td>
                    <a href="{{ path('app_categorie_produit_show', {'id': categorie_produit.id}) }}">show</a>
                    <a href="{{ path('app_categorie_produit_edit', {'id': categorie_produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_produit_new') }}">Create new</a>
{% endblock %}
