<div class="flex justify-center items-center h-screen bg-blue-400">
    <div class="w-full max-w-md bg-gray-200 p-4 rounded-md">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="mb-4">
                <p 'class': 'block text-gray-700 text-sm font-bold mb-2'>Prix</p>
                {{ form_widget(form.prix, {'attr': {'class': 'form-input w-full p-2 rounded-md'}}) }}
            </div>
            {{ form_errors(form.prix, {'class': 'text-red-200 bg-red-400'}) }}

            <div class="mb-4">
                <p 'class': 'block text-gray-700 text-sm font-bold mb-2'>nom</p>
                {{ form_widget(form.nom, {'attr': {'class': 'form-input w-full p-2 rounded-md'}}) }}
            </div>
            {{ form_errors(form.nom, {'class': 'text-red-200 bg-red-400'}) }}

            <div class="mb-4">
                <p 'class': 'block text-gray-700 text-sm font-bold mb-2'>description</p>
                {{ form_widget(form.description, {'attr': {'class': 'form-input w-full p-2 rounded-md'}}) }}
            </div>
            {{ form_errors(form.description, {'class': 'text-red-200 bg-red-400'}) }}

            <div class="mb-4">
                <p 'class': 'block text-gray-700 text-sm font-bold mb-2'>categorie</p>
                {{ form_widget(form.categorie, {'attr': {'class': 'form-input w-full p-2 rounded-md'}}) }}
            </div>
            {{ form_errors(form.categorie, {'class': 'text-red-200 bg-red-400'}) }}

             <div class="mb-4 hidden">
                <p 'class': 'block text-gray-700 text-sm font-bold mb-2'>panier</p>
                {{ form_widget(form.panier, {'attr': {'class': 'form-input w-full p-2 rounded-md'}}) }}
            </div>
            {{ form_errors(form.panier, {'class': 'text-red-200 bg-red-400'}) }}


            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full">
                {{ button_label|default('Save') }}
            </button>
            {{ form_end(form) }}
    </div>
    </div>
